# Please put language-specific ignore patterns
# in a .gitignore file inside the root folder
# of that language. See Scala/.gitignore for
# an example. Thanks.

java/.idea/

typescript/.idea/

.idea/

javascript/node_modules/

php/.phpunit.result.cache
php/vendor

.DS_Store
